@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "PascuaJoven18";
  src: url("images/fonts/PascuaJoven18.woff2") format("woff2"), url("images/fonts/PascuaJoven18.woff") format("woff"), url("images/fonts/PascuaJoven18.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  display: none;
}

.inscriptionBtn {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 60px;
  font-size: 2rem;
  background: #81926e;
  color: #f4f7f0;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  margin: 0 auto;
  transition: all 0.5s;
}

.inscriptionBtn:hover {
  color: #81926e;
  background: #f4f7f0;
}

header {
  width: 100%;
  background: radial-gradient(103.12% 50% at 50% 50%, #21193a 0%, #191326 100%);
}
header nav {
  width: 90%;
  margin: 0 auto;
}
header nav ul li {
  margin: 0 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #f4f7f0 !important;
  font-weight: 700;
  font-size: 1.1rem;
  transition: all 0.5s;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #81926e !important;
}

.dropdown-menu-dark {
  background: radial-gradient(103.12% 50% at 50% 50%, #21193a 0%, #191326 100%);
}

@media all and (min-width: 992px) {
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 100px;
  text-align: center;
}
footer .socialMedia {
  width: 300px;
  margin: 40px auto 0 auto;
}
footer .socialMedia ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
footer .socialMedia ul li a {
  color: black;
  font-size: 2rem;
  transition: all 0.5s;
}
footer .socialMedia ul li a:hover {
  color: #81926e;
}
footer p {
  padding: 24px 0;
}

.hero {
  width: 100%;
  height: 650px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/hero.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.hero .timer {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.hero .timer .count {
  width: 200px;
  color: #f4f7f0;
  font-size: 2rem;
  text-align: center;
}
.hero .timer .count #dias, .hero .timer .count #horas, .hero .timer .count #minutos, .hero .timer .count #segundos {
  font-size: 6rem;
  margin-bottom: 0;
}
.hero .lema h2 {
  font-family: "PascuaJoven18";
  font-size: 6rem;
  text-align: center;
  color: #f4f7f0;
  margin-top: 60px;
  text-shadow: 4px 4px black;
}

.juego {
  height: 650px;
  background: linear-gradient(#FFF 22%, #f4f7f0 100%);
  padding: 100px 0px;
}
.juego h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}
.juego .aboutFlex, .juego .gameFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.juego .aboutFlex .image, .juego .gameFlex .image {
  width: 50%;
  max-height: 500px;
}
.juego .aboutFlex .image img, .juego .gameFlex .image img {
  width: 100%;
  border: 4px solid #f4f7f0;
  border-radius: 12px;
  box-shadow: 0px 5px 15px #a7a7a7;
}
.juego .aboutFlex .text, .juego .gameFlex .text {
  width: 40%;
  font-size: 1.2rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.juego .aboutFlex button, .juego .gameFlex button {
  background-color: #C13584;
  width: 280px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  margin: 12px auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: all 0.5s;
}
.juego .aboutFlex button:hover, .juego .gameFlex button:hover {
  cursor: pointer;
  background-color: #ffccd2;
  color: black;
}

.testimonios {
  height: fit-content;
  background-color: #f4f7f0;
  padding: 50px 0px;
}
.testimonios .content {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  color: black;
}
.testimonios .content h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}
.testimonios .content .splide {
  padding: 40px 0px;
  height: fit-content;
}
.testimonios .content .splide .splide__track {
  width: 90%;
  margin: 0 auto;
}
.testimonios .content .rol {
  font-weight: bold;
}
.testimonios .content .name {
  font-style: italic;
}

.redesContainer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 50px;
}
.redesContainer h2 {
  font-family: "PascuaJoven18";
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.redesContainer ul {
  width: 100%;
  margin: 0;
  padding: 0;
}
.redesContainer ul li {
  display: inline-block;
  font-family: "PascuaJoven18";
  font-size: 2rem;
  font-weight: 700;
  padding: 0px 5px;
}
.redesContainer ul li.option:hover {
  background: black;
  color: white;
  cursor: pointer;
}
.redesContainer .redesContent {
  height: 600px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/spotify.jpeg");
  background-position: center top;
  background-size: cover;
  color: #f4f7f0;
  margin-top: 20px;
}
.redesContainer .redesContent .content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
}
.redesContainer .redesContent .content h3 {
  text-align: center;
  padding-top: 30px;
  font-size: 2.3rem;
}
.redesContainer .redesContent .content iframe {
  padding-top: 25px;
}
.redesContainer .redesContent .content p {
  padding: 20px 0;
  font-size: 1.2rem;
}
.redesContainer .redesContent .content p a {
  text-align: center;
  color: #f4f7f0;
  text-decoration: none;
}
.redesContainer .redesContent .content p a:hover {
  text-decoration: underline;
}

.sectionPJ21 {
  width: 100vw;
  height: fit-content;
}

.sectionPJ21 img {
  display: block;
  width: 100vw;
  height: auto;
  margin: 0 auto;
}

#lemas {
  margin-top: 40px;
}

/*# sourceMappingURL=style.css.map */
