// Font 

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "PascuaJoven18";

    src: url('../images/fonts/PascuaJoven18.woff2') format('woff2'),
        url('../images/fonts/PascuaJoven18.woff') format('woff'), 
        url('../images/fonts/PascuaJoven18.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "MandelaScript";

    src: url('../images/fonts/MandelaScriptPersonalUse.woff2') format('woff2'),
        url('../images/fonts/MandelaScriptPersonalUse.woff') format('woff'), 
        url('../images/fonts/MandelaScriptPersonalUse.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

// Base
@import "base/reset";

// Utilities
@import "utilities/mixins";
@import "utilities/colors";

// Components 
@import "components/buttons";
@import "components/slideTestimonios";


// Layout
@import "layout/header";
@import "layout/main";
@import "layout/footer";


// Views 

@import "views/index";