.inscriptionBtn {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 60px;
    font-size: 2rem;
    background: $primary;
    color: $white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 0.5s;
}

.inscriptionBtn:hover {
    color: $primary;
    background: $white;
}