#faq {
    background-image: url("../images/headers/faq.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.faq {

    width: 100%;
    padding: 64px 0 ;

    .content {
        width: 80%;
        margin: 0 auto;

        .accordion-item {
            border: none;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
            margin-bottom: 12px;
        }


        .accordion-button {
            font-weight: 700;
        }

        .accordion-button:not(.collapsed) {
            background-color: white;
            color: $primary;
        }

        .accordion-button:focus {
            border-color: white;
            box-shadow: none;
        }
    
    }

    
}