.thanks {
    .content {
        width: 50%;
        margin: 0 auto;
        padding: 120px 0;
        text-align: center;

        h1 {
            font-family: "PascuaJoven18";
            font-size: 4rem;
        }

        p {
            font-size: 1.2rem;
        }
    }
}